<mat-sidenav-container class="shell-container">
  <mat-sidenav mode="side" opened class="sidebar">
    <div class="brand-block">
      <h1><span class="brand-skill">Skill</span><span class="brand-sync">Sync</span></h1>
    </div>

    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let item of menuItems()"
        [routerLink]="item.route"
        routerLinkActive="active-link">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content-area">
    <mat-toolbar class="top-toolbar">
      <span class="spacer"></span>

      <span class="admin-pill" *ngIf="authStore.isAdmin()">
        <span class="dot"></span>ADMIN
      </span>

      <button mat-icon-button class="bell-button" type="button">
        <mat-icon>notifications</mat-icon>
      </button>

      <button
        mat-button
        class="user-menu-trigger"
        [matMenuTriggerFor]="userMenu"
        type="button">
        <span class="avatar-circle" [style.background]="avatarBg()">{{ initials() }}</span>
      </button>

      <mat-menu #userMenu="matMenu">
        <div class="menu-user-info">
          <strong>{{ authStore.user()?.name }}</strong>
          <span>{{ authStore.displayRole() }}</span>
        </div>
        <a mat-menu-item routerLink="/profile">
          <mat-icon>badge</mat-icon>
          <span>My Profile</span>
        </a>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Sign out</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <main class="page-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
